.card-body,
.card-footer {
    /* display: none;
    transition: all 3s ease; */
    overflow: hidden; /* Hide the element content, while height = 0 */
    height: 0;
    opacity: 0;
    transition: height 0ms 400ms, opacity 400ms 0ms;
}

/* .card:hover .card-body,
.card:hover .card-footer {
    display: block;
    visibility: visible;
} */


.card-btn{
    color: #808080;
}


.card:hover .card-body,
.card:hover .card-footer {
    /* display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s; */
    height: 110px; /* any measurable value, not "auto" */
    opacity: 1;
    transition: height 0.5s 0ms, opacity 1s 0ms;
}

  @-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}