.navbar {
    display: flex;
    width: 100%;
    background-color: #00050d;
    z-index: 190;
    transition: box-shadow .3s cubic-bezier(.2,.45,0,1);
    transition: transform 0.5s ease;
  }

  .scrolled {
    position: fixed;
    transform: translateY(15px);
    align-items: center;
    width: 728px;
    height: 38px;
    /* top: 10px; */
    /* margin-top: 10px; */
    margin-left: auto;
    margin-right: auto;
    background-color: #00050d;
    box-shadow: 0 4px 8px 2px rgba(0,5,13,.5);
    border-radius: 8px;
  }

 .nav-link {
    font-weight: 500;
    color: #aaa;
    text-decoration: inherit;
    transition: all ease-out 1s;
  }
  .nav-link:hover,
  .nav-link:focus {
      color: rgb(133, 207, 139);
  }

  .nav-link.active {
    color: rgb(86, 197, 132);
}